.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 16px;

  .header {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-icon {
      font-size: 18px;
    }

    > div {
      display: flex;
      gap: 8px;
      align-items: center;

      h1 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
      }

      button {
        line-height: 0;
        background-color: transparent;
        outline: 0;
        border: 0;
      }
    }

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
      background-color: var(--ion-color-green);
      border-radius: 4px;

      color: #000;
    }
  }

  .items {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .item {
      width: 100%;
      padding: 8px;
      min-height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      background-color: var(--ion-color-selection);

      span {
        font-size: 14px;
        font-weight: 500;
      }

      p {
        font-size: 12px;
        font-weight: 300;
        margin: 0;
      }

      a {
        display: inline-block;
        line-height: 0;
        background-color: transparent;
        border: none;
        outline: none;
        text-decoration: none;
        color: #fff;

        ion-icon {
          font-size: 18px;
        }
      }
    }
  }
}
